@inject CatalogService CatalogService
@inject NavigationManager Nav

@if (catalogBrands is not null && catalogItemTypes is not null && priceRange is not null)
{
    <div class="catalog-search">
        <div class="catalog-search-header">
            <img role="presentation" src="icons/filters.svg" />
            Filters
        </div>
        <div class="catalog-search-types">
            <div class="catalog-search-group">
                <h3>Brand</h3>
                <div class="catalog-search-group-tags">
                    <a href="@BrandUri(null)"
                    class="catalog-search-tag @(BrandId == null ? "active " : "")">
                        All
                    </a>
                    @foreach (var brand in catalogBrands)
                    {
                        <a href="@BrandUri(brand.Id)"
                        class="catalog-search-tag @(BrandId == brand.Id ? "active " : "")">
                            @brand.Brand
                        </a>
                    }
                </div>
            </div>
            <div class="catalog-search-group">
                <h3>Type</h3>

                <div class="catalog-search-group-tags">
                    <a href="@TypeUri(null)"
                    class="catalog-search-tag @(ItemTypeId == null ? "active " : "")">
                    All
                    </a>
                    @foreach (var itemType in catalogItemTypes)
                    {
                        <a href="@TypeUri(itemType.Id)"
                        class="catalog-search-tag @(ItemTypeId == itemType.Id ? "active " : "")">
                            @itemType.Type
                        </a>
                    }
                </div>
            </div>
            <div class="catalog-search-group">
                <h3>Price</h3>

                <div class="catalog-search-group-tags">
                    <a href="@PriceUri(null, null)"
                    class="catalog-search-tag @(MinPrice == null && MaxPrice == null ? "active " : "")">
                        All
                    </a>
                    <a href="@PriceUri(null, 50m)"
                    class="catalog-search-tag @(MinPrice == null && MaxPrice == 50m ? "active " : "")">
                        Up to $50
                    </a>
                    <a href="@PriceUri(50m, 150m)"
                    class="catalog-search-tag @(MinPrice == 50m && MaxPrice == 150m ? "active " : "")">
                        $50-$150
                    </a>
                    <a href="@PriceUri(150m, null)"
                    class="catalog-search-tag @(MinPrice == 150m && MaxPrice == null ? "active " : "")">
                        $150+
                    </a>
                </div>
                <p class="catalog-search-price-range">
                    Range: $@priceRange.MinPrice.ToString("0.00")-$@priceRange.MaxPrice.ToString("0.00")
                </p>
            </div>
        </div>
    </div>
}

@code {
    IEnumerable<CatalogBrand>? catalogBrands;
    IEnumerable<CatalogItemType>? catalogItemTypes;
    CatalogPriceRange? priceRange;
    [Parameter] public int? BrandId { get; set; }
    [Parameter] public int? ItemTypeId { get; set; }
    [Parameter] public decimal? MinPrice { get; set; }
    [Parameter] public decimal? MaxPrice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var brandsTask = CatalogService.GetBrands();
        var itemTypesTask = CatalogService.GetTypes();
        var priceRangeTask = CatalogService.GetPriceRange();
        await Task.WhenAll(brandsTask, itemTypesTask, priceRangeTask);
        catalogBrands = brandsTask.Result;
        catalogItemTypes = itemTypesTask.Result;
        priceRange = priceRangeTask.Result;
    }

    private string BrandUri(int? brandId) => Nav.GetUriWithQueryParameters(new Dictionary<string, object?>()
    {
        { "page", null },
        { "brand", brandId },
    });

    private string TypeUri(int? typeId) => Nav.GetUriWithQueryParameters(new Dictionary<string, object?>()
    {
        { "page", null },
        { "type", typeId },
    });

    private string PriceUri(decimal? minPrice, decimal? maxPrice) => Nav.GetUriWithQueryParameters(new Dictionary<string, object?>()
    {
        { "page", null },
        { "minPrice", minPrice },
        { "maxPrice", maxPrice },
    });
}
